<main class="center-block">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
          <h1>Welcome to <strong>Bloggers</strong> !!</h1>
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <a class="btn btn-info btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
            </div>
            <div class="row">
              <a class="btn btn-success btn-block sign_up" href="/users/sign_up">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>